#container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;
  grid-template-rows:  1fr minmax(80%, auto) 7fr;
}

#container > :nth-child(odd) {
  background-color: #A9A9A9;
}
#container > :nth-child(even) {
  background-color: #D3D3D3;
}

#todaysTasks {
  color: purple;
  position: absolute;
  bottom: 0px;
}

#projectList {
  position: relative;
}

h1 {
  background-color: silver;
}

body {
  background-color: silver;
}

.task {
  padding: 2px;
  margin: 1px;
  border: black;
}

.project {
  padding: 1px;
  border: 1px outset white;
  min-height: 20px;
  background-color: #9E9E9E;
}

#taskForm > button, label, input, select {
  margin: 3px;
}

div > button, input {
  margin: 3px;
}

#addProject {
  background-color: #A9A9A9
}