#container {
  display: grid;
  grid-template-columns: 2fr 5fr;
<<<<<<< HEAD
  grid-gap: 4px;
=======
  grid-gap: 5px;
>>>>>>> c6ee31203e944af388921b7ef201178d1242b098
  grid-template-rows:  1fr minmax(80%, auto) 7fr;
  border: 1px white;
}

#container > :nth-child(odd) {
  background-color: #e2bdbd;
}
#container > :nth-child(even) {
  background-color: #b6c2e4;
}

#todaysTasks {
  color: blue;
  position: absolute;
  bottom: 0px;
}

#projectList {
  position: relative;
}

h1 {
  color: white;
}

body {
  background-color: rgb(41, 20, 160);
}

.task {
  padding: 2px;
  margin: 1px;
  border: black;
}

.project {
  padding: 1px;
  border: 1px outset rgb(0, 0, 0);
  min-height: 20px;
  background-color: #c49494;
}

#taskForm > button, label, input, select {
  margin: 3px;
}

#taskForm {
  display: flex;
  flex-direction: column;
}

div > button, input {
  margin: 3px;
}

#addProject {
  background-color: #e2bdbd
}

.icon {
  height: 18px;
  width: 18px;
  position: relative;
  float: right;
}

img {
  background-color: #c49494;

}